.page-title__font {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.display-none {
    display: none;
}

.interface-border {
    border-color: #cbcbcb;
    border-width: 2px !important;
}

.header--font {
    font-size: 1.25rem;
}